html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}  

.maroonBar {
    background-color: #500000;
    display: flex;
    min-height: 50px;
    align-items: center;
}

.arrow {
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 10px;
    color: #C8C8C8;
}

a {
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 10px;
}

.greyBack {
    background-color: #C8C8C8;
    height: flex;
    display: flex;
    min-height: 100%;
    justify-content: center;
}

.regBox {
    margin-top: 20px;
    background-color: #f4f4f4;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: flex;
    min-height: 300px;
    width: 80%;
    min-width: 700px;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

.regWord {
    color: #7c0303;
    font-size: 35px;
    height: 35px;
    font-family: 'Tungsten', sans-serif;
    font-weight: 50;
    margin-top: 20px;
    margin-bottom: 20px;
}

.maroonDivider {
    height: 2px;
    background-color: #7c0303;
    width: 95%;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    font-size: 12px;
    color: red;
}

.button {
    margin-bottom: 10px;
    margin-right: 5px;
}