body {
    font-family: 'Tungsten', sans-serif;
    font-weight: 50;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #C8C8C8;
}

.section {
    width: 80%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #500000;
}

.maroonBar {
    background-color: #500000;
    display: flex;
    min-height: 50px;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: 'Tungsten', sans-serif;
    font-weight: 50;
}

h2 {
    text-align: center;
    font-family: 'Tungsten', sans-serif;
    font-weight: 50;
}

img {
    height: 85%;
    min-height: 50px;
    margin-left: 50px;
}

.surface {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.studentSelection{
    text-align: center;
}

.error{
    color: red;
}