
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}  

.surface {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.skinnyMaroonBar {
    background-color: #500000;
    display: flex;
    min-height: 50px;
    align-items: center;
}

img {
    height: 85%;
    min-height: 50px;
    margin-left: 50px;
}

.greyBack {
    background-color: #C8C8C8;
    height: 85%;
    min-height: 1300px;
    display: flex;
    justify-content: center;
}

.regBox {
    margin-top: 20px;
    background-color: #f4f4f4;
    background: linear-gradient(0deg, rgba(200,200,200,1) 5%, rgba(244,244,244,1) 30%);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    min-height: 900px;
    width: 90%;
    min-width: 1250px;
}

a {
    color: #7c0303;
    margin-right: auto;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;
}

.regWord {
    color: #7c0303;
    font-size: 35px;
    height: 35px;
    font-family: 'Tungsten', sans-serif;
    font-weight: 50;
    margin-top: 0px;
    margin-bottom: 20px;
}

.maroonDivider {
    height: 2px;
    background-color: #7c0303;
    width: 95%;
}

.greyDivider {
    height: 1px;
    background-color: grey;
    width: 95%;
}

.regForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    flex-wrap: wrap;
}

.halfInputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.thirdInputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 33%;
}

label {
    margin-left: 5px;
    margin-right: auto;
    color: #7c0303;
    font-size: 12px;
    font-family: 'Tungsten', sans-serif;
}

.textField {
    outline: none;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    border-width: 1px;
    border-color: #C8C8C8;
    width: 80%;
}

.checkField {
    height: 15px;
    width: 15px;
}

.submitBtn {
    margin-top: 10px;
    margin-bottom: 60px;
    background-color: #500000;
    color: white;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Tungsten', sans-serif;
    border: none;
    outline: none;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.noError{
    height: 20px;
}

.withError {
    display: flex;
    height: 20px;
    background-color: #ffcccc;
    background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,204,204,1) 10%, rgba(255,204,204,1) 90%, rgba(244,244,244,1) 100%);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding-left: 10px;
}

.errorMessage {
    color: #7c0303;
    font-size: 13px;
    
}

.userContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.userHeader {
    display: flex;
}


.mUserItem {
    background-color: #500000;
    color: #C8C8C8;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    width: 120px;
    font-size: 14px;
}

.wUserItem {
    background-color: white;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
    width: 120px;
    font-size: 14px;
}


.btnUserItem {
    border: none;
    background-color: grey;
    color: white;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
    width: 80px;
}