html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}  

.surface {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.maroonBar {
    background-color: #500000;
    display: flex;
    min-height: 50px;
    align-items: center;
}

a {
    color: #C8C8C8;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}